@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
}

input::placeholder {
   color: var(---, #2F2F2F);
   font-family: "Montserrat";
   font-size: 24px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   opacity: 0.6;
}

input[type="checkbox"]:checked {
   background-color: #2F2F2F;
}

.bg-switch-light {
   background: var(---, #FFF);
}

.bg-active-light {
   background: var(---, #2F2F2F);
}


.underlining {
   position: relative;
   display: inline-block;
}

.underlining::after {
   content: '';
   position: absolute;
   bottom: -29px;
   left: 0;
   width: 100%;
   height: 2px;
   background: linear-gradient(90deg, #E81CFF 5.65%, #E81CFF 5.66%, #45CAFF 97.49%);
   opacity: 0;
   transition: opacity 0.3s ease;
}

.underlining:hover::after {
   opacity: 1;
}

.profit {
   background: linear-gradient(0deg, rgba(255, 255, 255, 0.90) 0%, rgba(255, 255, 255, 0.90) 100%), linear-gradient(90deg, #E81CFF 5.65%, #E81CFF 5.66%, #45CAFF 97.49%);
   box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}